html, body {
	font-family: sans-serif;
	height: 100%;
	margin: 0;
}

pre,
code {
	background: #eee;
	color: #222;
	font-family: "Courier New", monospace;
	padding: 16px;
}

code {
	padding: 4px;
}

.wrapper {
	padding: 16px 0;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

section {
	margin: 80px 0;
}

.elements {
	display: flex;
	justify-content: space-around;
	margin: 100px 0;
	width: 100%;
}

.element {
	color: #fff;
	background: #458DDE;
	border-radius: 50%;
	font-size: 2em;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}